<input type="text" [(ngModel)]="title">
{{ title }}


<!-- <div *ngIf="title==='nicolas'">
  Esto es nicolas
</div>

<div *ngIf="title==='julian'">
  Esto es julian
</div>

<div *ngIf="title==='camilo'">
  Esto es camilo
</div> -->

<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">Este es nicolas</p>
  <p *ngSwitchCase="'julian'">Este es julian</p>
  <p *ngSwitchCase="'camilo'">Este es camilo</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista está vacia</li>
  <li *ngFor="let name of items; index as i">
    {{i}} {{name}}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  <app-product (productClicked)="clickProduct($event)" [product]="product"></app-product>
</div>